body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.form-group {
  margin-right: 70em;
}

.btn {
  margin-left: 2.5em;
}
.label {
  padding: 6px;;

}
